.input_agi{
    width: 90%;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
.showfirst{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
table{
    width: 95%;
    height: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
input[id="input_agi"], select[id="input_agi"]{
    height: 80%;
    width: 50%;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}
table[class="showfirst"]{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}
table[class="input_agi"]{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}
td[id="ff"]{
    background-color: green;
    color: white;
    text-align: center;
}
td[id="player"]{
    background-color: green;
    color: white;
    text-align: center;
}
p[id="author"], p[id="warau"]{
    text-align: right;
    padding-right: 20px;
}
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
