.input_agi, .showfirst{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
.input_dmg, .showrnd, .extb{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
	border: solid 1px silver;
	border-radius: 15px;
}
table{
    width: 95%;
    height: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
input[id="day_remain"], input[id="hour_remain"]{
    height: 80%;
    width: 46px;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}
input[id="input_agi"], select[id="input_agi"]{
    height: 80%;
    width: 84px;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}
input[id="dmgA"], input[id="dmgB"]{
    height: 80%;
    width: 120px;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}
input[class="notes"]{
	width: 130px;
}
table[class="showfirst"], table[class="input_agi"], table[id="showrnd"], table[id="input_dmg"]{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}
td[id="hd_1st"]{
	width: 30%;
    background-color: green;
    color: white;
    text-align: center;
}
td[id="hd_dmg"]{
    background-color: black;
    color: white;
    text-align: center;
}
td[id="hd_ex"]{
    background-color: navy;
    color: white;
    text-align: center;
}
th[class="round"]{
    text-align: center;
}
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

