.input_agi{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
.showfirst{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
table{
    width: 95%;
    height: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
input[id="input_agi"], select[id="input_agi"]{
    height: 80%;
    width: 50%;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}
table[class="showfirst"]{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}
table[class="input_agi"]{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}
td[id="ff"]{
    background-color: green;
    color: white;
    text-align: center;
}
td[id="player"]{
    background-color: green;
    color: white;
    text-align: center;
}
p[id="warau"]{
    text-align: center;
    padding-right: 20px;
}
.input_dmg{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
.showrnd{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}
input[id="input_dmg"]{
    height: 80%;
    width: 50%;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}
table[class="showrnd"]{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}
table[class="input_dmg"]{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
}
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: white;
    background-color: black;
}
  
.topnav a.active {
    color: white;
}

